# copy from fish_speech
.DS_Store
.pgx.*
.pdm-python
__pycache__
/results
/data
/*.test.sh
*.filelist
filelists
/checkpoints
/.vscode
/data_server/target
/*.npy
/*.wav
/*.mp3
/*.lab
/results
/data
/.idea
ffmpeg.exe
ffprobe.exe
asr-label*
/.cache
/.locale
/demo-audios
/references
/example
/faster_whisper
/.gradio
.egg-info